.basket{
  width: 100%;
  padding: 0 2%;
}
.basket-item{
  text-align: justify;
}

.basket-icon{
  cursor: pointer;
}
.basket-icon:active{
  transform: scale(.9);
}
.basket-icon:active svg{
  fill:var(--tg-theme-button-color);
}
.basket-icon svg{
  width: 20px;
  height: auto;
  fill: var(--tg-theme-text-color);
  
}