.header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.username{
  margin-left: auto;
}

.shopIcon{
  border:none;
  background:inherit;
  cursor: pointer;
  transition: all .5s linear;
}
.shopIcon svg{
  width: 30px;
  height: 30px;
  fill: var(--tg-theme-text-color);
  transition: all .1s ease;
}
.shopIcon:active{
  transform: scale(.8);
}
.shopIcon:active svg{
  fill:var(--tg-theme-button-color);
}