.header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.username{
  margin-left: auto;
}
.shop svg{
  width: 30px;
  height: 30px;
  fill: var(--tg-theme-text-color);
  transition: all .5s linear;
}
button:has(.shop){
  border:none;
  background:inherit;
  cursor: pointer;
  transition: all .5s linear;
}
button:has(.shop):active{
  transform: scale(.9);
}
button:has(.shop):active svg{
  fill:var(--tg-theme-button-color);
}