.product{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color);
}

.img{
  width: 100%;
  background: lightgrey;
  height: 100px;
  margin: 0 auto;
  background:var(--tg-theme-button-color);
}
.description{
  font-size: 0.8em;
  background: var(--tg-theme-bg-color);
}
.add-btn {
  width: 100%;
}
.addCount{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}