.product{
  display: flex;
  flex-direction: column;

}

.img{
  width: 100%;
  background: lightgrey;
  height: 100px;
  margin: 0 auto;
  background:var(--tg-theme-button-color);
}
.img:has(img){
  background: var(--tg-theme-bg-color);
}
.img img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.description{
  font-size: 0.8em;
  background: var(--tg-theme-bg-color);
}
.add-btn {
  width: 100%;
}
.addCount{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title, .description, .price{
  background: var(--tg-theme-bg-color);
}